<attrs/{ addNewTodo } />
<const/handleSubmit(e) {
  const titleInput = title();
  addNewTodo({ title: titleInput.value });
  titleInput.value = "";
  e.preventDefault();
}/>
<header.header>
  <h1>todos</h1>
  <form onSubmit=handleSubmit>
    <input/title
      class="new-todo"
      placeholder="What needs to be done?"
    />
  </form>
</header>

<style>
  .header form {
    margin: 0;
  }
</style>